<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Booking BDD Suite" parallel="tests" thread-count="2" data-provider-thread-count="2">
    <test name="Booking Rental Cars Tests">
        <classes>
            <class name="runners.RentalCarsTestRunner"/>
        </classes>
    </test>

    <test name="Booking Airport Taxis Tests">
        <classes>
            <class name="runners.AirportTaxisTestRunner"/>
        </classes>
    </test>
</suite>